.App {
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  justify-content: center;
}

.all-Items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.button-Header {
  width: 200px;
  height: 80px;
}

.Item-Div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  border: 2px solid yellow;
  background-size: cover;
  /* color: white; */
}

.red {
  color: orange;
  font-weight: bolder;
}